{
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "printWidth": 100,
  "arrowParens": "always",
  "plugins": ["react", "prettier"]
}
